{% extends 'base.html' %}

{% block title %} <title> Solicitar Coleta</title> {% endblock %}


{% block content %}

<div>
    <input class="tipo" type="text" name="tipo" id="tipo" placeholder="Tipo de produto">
</div>
<div>
    <input class="quantidade" type="text" name="quantidade" id="quantidade" placeholder="Quantidade">
</div>
<div>
    <input class="estado" type="estado" name="estado" id="estado" placeholder="Estado do produto">
</div>
<div>
    <input class="descricao" type="text" name="descricao" id="descricao" placeholder="Descrição do produto">
</div>


{% endblock %}