<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
     integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style-index.css')}}" type="text/css">
    <title>Home</title>
</head>
<body>
    
<div id="area-cabecalho">

    <div id="area-logo">
        <h1>Marques<span class="branco">Igor</span></h1>
    </div>
    <!--Inicio links principais de cabeçalho-->
    <div id="area-menu">
        {% if not current_user.is_authenticated %}
        <button type="button" class="btn btn-outline-dark"><a href="{{url_for('login')}}">ENTRAR</a></button>
        <button type="button" class="btn btn-outline-dark"><a href="{{url_for('register')}}">CADASTRAR</a></button>
        <button type="button" class="btn btn-outline-dark"><a href="{{url_for('link_ajuda')}}">Ajuda</a></button>     
        <li>Olá, seja bem vinda(o), para solicitar coleta, favor realizar<a href="{{url_for('login')}}">login</a></li>
        {% else %}
        <button type="button" class="btn btn-outline-dark"><a href="{{url_for('coleta_usuario', id=current_user.id)}}">SOLICITAR COLETA</a></button>
        <button type="button" class="btn btn-outline-dark"><a href="{{url_for('logout')}}">SAIR</a></button>
       <li>

           Olá {{current_user.first_name}} {{current_user.last_name}}, seja bem vinda(o)
       </li>

       

        <span></span>
        {% endif %}
    </div>
    <!--Fim links de cabeçalho-->
</div>
    <div id="area-principal">
        <div id="area-postagens">
            <!--Inicio area de postagem-->
            <div class="postagem">
                <h2>Lixo eletrônico</h2>
               <!-- <span class="data-postagem">Postado em 01 de janeiro de 2023</span> -->
                <img width="620px" src="imagens/imagem1.jpg" alt="">
                <p>
                    Resíduo computacional, também conhecido como resíduo
                     eletrônico ou lixo eletrônico, são os equipamentos
                      eletrônicos descartados ou obsoletos.[1] A definição
                       inclui computadores, televisores, telemóveis/celulares,
                        entre outros dispositivos. Na União Europeia, é
                         referido resíduo de equipamentos eletrônicos (REEE),
                         [2] havendo a classificação dos produtos por
                          categoria conforme a Diretiva de Resíduos de
                           Equipamentos Eléctricos e Electrónicos.[3] 
                </p>
                <a href="https://pt.wikipedia.org/wiki/Res%C3%ADduo_eletr%C3%B4nico">Leia mais >>></a>
                <hr style="color: black;">
            </div>
            <!--Fim area de postagem-->

            <!--Inicio area de postagem-->
            <div class="postagem">
               <!-- <h2>Título da postagem</h2> -->
              <!--  <span class="data-postagem">Postado em 01 de janeiro de 2023</span> -->
                <img width="620px" src="{{url_for('static', filename='images/coleta-recicla.jpg')}}" alt="">
                <p>
                    
                </p>
               <!-- <a href="#">Leia mais >>></a> -->
            </div>
            <!--Fim area de postagem-->
        </div>
        <!--Conteudo lateral 1-->
        <div id="area-lateral">
            <div class="conteudo-lateral">
                <h3>Visualização lateral</h3>
                <div>
                <img width="280px" src="{{url_for('static', filename='images/Marketing-digital-1.jpg')}}" alt="">

                    <p class="texto-lateral">Area reservada para postagens
                        ou propaganda.</p>
                        <a style="color: red;" href="#">Leia mais >>></a>
                        <img width="280px" src="{{url_for('static', filename='images/coleta-pilhas.jpg')}}" alt="">
                    <br>
                    </div>
                <hr style="color:black ;">
                <div>
                    <p class="texto-lateral">As pilhas e baterias de uso
                         doméstico apresentam um grande perigo quando
                          descartadas incorretamente. Na composição dessas
                           pilhas são encontrados metais pesados como: cádmio,
                            chumbo, mercúrio, que são extremamente perigosos à
                             saúde humana..</p>
                     <a style="color: red;" href="#">Leia mais >>></a>
                </div>
            </div>
                
        </div>
<!--
        <div id="area-lateral">
            <div class="conteudo-lateral">
                <h3>Categorias</h3>
                
                <button type="button" class="btn btn-outline-secondary"><a href="#">categoria 1</a><br></button>
                <button type="button" class="btn btn-outline-secondary"><a href="#">categoria 2</a><br></button>
                <button type="button" class="btn btn-outline-secondary"><a href="#">categoria 3</a><br></button>
                <button type="button" class="btn btn-outline-secondary"><a href="#">categoria 4</a><br></button>
                <button type="button" class="btn btn-outline-secondary"><a href="#">categoria 5</a><br></button>


                
            </div>
                
        </div>
             -->   
        </div>
    </div>
        
        <!--Fim conteudo lateral 1-->
    
    <div id="rodape">
        Todos os direitos reservados
        <button type="button" class="btn btn-outline-dark"><a href="https://www.linkedin.com/in/igor-senna-a336bb181">linkedin</a></button>
        <button type="button" class="btn btn-outline-dark"><a href="https://github.com/IgorStrauss">github</a></button>
                  <span>  engenheirostrauss2@gmail.com   </span>
        
    </div>
</body>
</html>
