<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Perfil usuário</title>
</head>

<body>
    <h1>Perfil usuário</h1>

    <li>ID: {{user.id}}</li>
    <li>USERNAME: {{user.username}}</li>
    <li>NOME: {{user.first_name}}</li>
    <li>SOBRENOME: {{user.last_name}}</li>
    <li>EMAIL: {{user.email}}</li>
    <li>PASSWORD: {{user.password}}</li>
    <br>
    <h3>Endereço</h3>
    <li>ENDEREÇO: {{endereco.street}}</li>
    <li>NUMERO: {{endereco.numero}}</li>
    <li>BAIRRO: {{endereco.bairro}}</li>
    <li>CIDADE: {{endereco.cidade}}</li>
    <li>ESTADO: {{endereco.estado}}</li>
    <li>CEP: {{endereco.cep}}</li>
    <br>
    <h3>Telefone</h3>
    <li>Telefone: </li>
    <li>ID: {{telefone.id}}</li>
    <li></li>
    <br>
    <a href="{{url_for('index')}}"><button type="button" class="btn btn-outline-success btn-sm">Retornar</button></a>
    <a href="{{url_for('delete', id=user.id)}}"><button type="button" class="btn btn-outline-danger btn-sm">Deletar</button></a>
    <a href="{{url_for('coleta_usuario', id=user.id)}}"><button type="button" class="btn btn-outline-primary btn-sm">Editar</button></a>
    <br>

</body>

</html>