{% extends 'base.html' %}
{% block title %}  Ordens de coleta {% endblock %}
{% block content %}


{% for coleta in solicita_coleta %}
<button type="button" class="btn btn-outline-danger"><a href="{{url_for('show_coleta', id=coleta.id)}}">Ordem de coleta numero: {{coleta.id}}</a></button>
<br>

<div>
    
    <span>Usuário ID: {{coleta.user_id}}</span><br>

    <span>Criado em: {{coleta.formata_data}}</span><br>
    <span>Tipo de equipamento: {{coleta.tipo}}</span><br>
    <span>Quantidade de equipamentos: {{coleta.quantidade}}</span><br>
    <span>Aparelho está funcionando?: {{coleta.situacao}}</span><br>
    <span>Descrição do(s) equipamento(s): {{coleta.formata_descricao}}</span><br>
 
</div><br>


{% endfor %}
<br>
{% endblock %}